html, body{
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    height: 100vh;
    background: url("IMG_1666.JPG");
    /* background-color: #f6f5f5; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color:wheat;
}
.text-1{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
}
h1.display-2{
    font-size: 500%;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 11px #000;
    text-transform: uppercase;
}
h2.display-4{
    font-size: 350%;
    font-weight:200;
    color: #fff;
    text-shadow: 1px 1px 11px #000;
}
.navbar{
    box-shadow: 1px 1px 2px #fff;
    padding: 2px;
    background-color: #000;
}
.navbar-nav li a{
    padding-right: 20px;
    color: #fff;
}
.nav-link{
    font-size: 20px;
    color: #222;
}
.nav-link:hover{
    color: #e6e3e3;
}
.navbar-brand{
    height: 48px;
    padding: 2px 10px;
    color: #fff;
    font-weight: 600;
}
.navbar-brand:hover{
    color: #e6e3e3;
}
button.navbar-toggler{
    width: 90px;
    padding: 1px;
    border-radius: 10px;
    background-color: whitesmoke;
}
a.btn:active{
    transform: scale(1.3);
}
a.btn{
    margin: 20px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first{
    background-color: black;
    color: white;
}
a.btn-second{
    background:transparent;
    border: 1px solid white;
    color: #fff;
}
a.btn:hover{
    background: white;
    border: none;
    color: #000;
    box-shadow:5px 5px 10px #999;
    transform: 0.3s;
}
.jumbotron{
    display: flex;
    margin: -10% auto 20px auto;
    position: relative;
    /* width: 70%;
    transform: translate(55%); */
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
.jumbotron{
    background:linear-gradient(#b0b0, #3555);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #000;
}
p.card-text{
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 15px;
    font-weight: bold;
}
hr.light{
    width: 75%;
    border-top: 2px solid #222;
    margin-top: 3px;
    margin-bottom: 1px;
}
hr.endline{
    width: 55%;
    border-top: 2px solid #222;
    margin-top: 3px;
    margin-bottom: 1px;
}
div.end{
    background:linear-gradient(#b0b0, #3555);
}
.card:hover{
    background: url("to.png");
    /* background:linear-gradient( #3555,#b0b0); */

    background-size: cover;
}
.card:hover{
    color: #fff ;
}

.card-1 span, .card-2 span, .card-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;
}
a.btn-third{
    margin: 10px 5px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    
}
a.btn-fourth{
    margin: 20px 5px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    
}
a.btn-third{
    background-color: black;
    color: white;

}
a.btn-fourth{
    background-color: black;
    color: white;

}
h1.work{
    font-size: 190%;
    font-weight:500;
    color: #000;
    text-shadow:1px 1px 15px lightblue;
    margin: 20px 5px;

}

footer{
    background:linear-gradient(#b0b0, #3555);
    color: #000;
    padding: 2px;
}
a img.ig{
    width: 100%;
}
/* .social-icons a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    padding: 3Px;
    margin: 0px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
} */
@media(max-width:768px){
    .text-1{
        width: 100%;
        text-align: center;
        position: absolute;
        top: 35%;
        transform: translateY(-30%);
    }
    h1.display-2{
        font-size: 400%;
        font-weight: 400;
        color: #fff;
        text-shadow: 1px 1px 11px #000;
        text-transform: uppercase;
    }
    .jumbotron{
        display: flex;
        margin: -12% auto 20px auto;
        position: relative;
        width: 100%;
        /* height: 50%;  */
        /* overflow: hidden; */
        transform: translateX(3%);
        border-radius: 20px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
    }
    .card{
        margin-top: 10px;
    }
    .card:hover{
        color: #fff ;
    }
    a.btn-fourth{
        margin: 50px 5px;
        width: 100px;
        padding: 10px;
        border-radius: 10px;
        
    }
    h1.work{
        font-size: 160%;
        font-weight:500;
        color: #000;
        text-shadow:1px 1px 16px lightblue;
    }

}
 .social-icons a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(#b0b0, #3555);
    margin: 0px 6px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
